<div class="row mt-5">
    <div class="col-md-4 text-left">
        {{ with .NextInSection }}
            <a href="{{ .Permalink }}">&laquo; {{ .Title }}</a>
        {{ end }}
    </div>

    <div class="col-md-4 text-center">
        <a href="https://github.com/mysteriumnetwork/documentation/tree/master/content/{{ .File.Path }}" target="_blank">
            See how this could be improved? Edit on Github.
        </a>
    </div>

    <div class="col-md-4 text-right">
        {{ with .PrevInSection }}
            <a href="{{ .Permalink }}">{{ .Title }} &raquo;</a>
        {{ end }}
    </div>
</div>